*{
	margin: 0;
	padding: 0;
}
.container{
	width: 1366px;
	height: 110px;
	background-color: white;
}
.logo img{
	padding-top: 17px;
	padding-left: 110px;
}
.logo{
	float: left;
}
.nav{
	margin-top: 55px;
	margin-right: 250px;
	float: right;
}
.nav ul{

	list-style-type: none;
	margin: 0;
	padding: 0;
}
.nav a{
	text-decoration: none;
	color:#666;
	font-weight: normal;
}
.nav li {
	padding: 10px;
	display: inline;
}
.nav a:hover{
	color: skyblue;
}
@keyframes slider {

0% {
	left: 0;
}

20% {
	left: 0;
}

25% {
	left: -100%;
}

45% {
    left: -100%;

}

50% {
		left: -200%;

}

70% {
	left: -200%;
}

75% {
	left: -300%;
}

95% {
	left: -300%;
}

100% {
	left: -400%;

}}
#slider {
	overflow: hidden;
}

#slider figure img {
	width: 20%;
	height: 700px;
	float: left;
}

#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 20s slider infinite; 
}
#slider{
	padding-top: 10px;
	padding-right: 0px;
	width:100%;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.three_box{
	width:100%;
	height:350px;
	
}
.box1{
	padding-left:80px;
	float: left;
	padding-top:20px;

}
.title{
	
	display: block;
	width: 90%;
    height: 33px;
    padding: 18px;
    background: #15262f;
    position: relative;
    font-family: Lato;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}
.box1 img{
	width: 360px;
	height: 252.2px;
}
span{
	padding-top:20px;
	padding-left:90px;
}
.guan{
	padding-left:60px;
}
.title a{
	color: #fff;
	text-decoration: none;
}
#text p{
	font-size: 20px;
	line-height: 2.6em;
	text-align:center;

}
#text h1{
	font-size: 25px;
	text-align:center;	
}
#text{
	margin-top:60px;
}
#sect{
	margin-top: 110px; 
	width: 1170px;
	height: 250px;
	margin: 0 auto;
}
#sect #text_part{
	margin-top: 40px; 
	padding-top:80px;
	width: 292.5px;
	height: 103px;
	display: block;
	float: left;
}
.image_sect{
	margin-top: 40px;
	float:left;
	padding-top:30px;
	padding-left: 70px;

}
.image_part{
	float:left;
	padding:50px;

}
/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
#footer{
	width: 100%;
	height: 378.13px;
	background-color: #f2f2f2;
}
#content{
	width: 1140px;
	height: 258px;
	margin: 0 auto;
	margin-top:150px; 
}
.icon{
	margin-left: 470px;
}
.stores img{
	width:97px;
	height:30px; 
}
.stores{
	margin-top:20px;
	margin-left: 370px;
}
.toll img{
	border-right: 1px dotted;
	width: 60px;
	height: 53.13px;
}
.toll{
	margin-left: 370px;
	margin-top:30px;
}
.toll img{
	float: left;
}
.toll p{
	font-size: 10px;
	line-height: 1.5em;
	padding-top:5px;
	padding-left: 10px;
	float:left;
}
.copyright p{
	color:grey;
	margin-left: 470px;
	margin-bottom: 20px;
}
.con p{
	color:skyblue;
	margin-left:600px;
}
.con p:hover{
	color:green;
}
.career{
	width:1170px;
	height: 941px;
	margin:0 auto;
	padding:20px;
	margin-top:100px;
	background-color:white;
	border:5px black;
}
.career-main{
	background-image: url("palmleafs.png");
	width: 1366px;
	height: 1000px;
}
.career p{
	font-size: 35px;
	opacity: 0.7;
	padding-left:70px;
}
#p1 p{
	padding-top:20;
}
.future p{
	padding-left:220px;
	padding-top:30px;
}
.pic img{
	margin-top:20px;
	float:left; 
}
.pic p{
	padding-top: 20px;
	padding-left:700px;
	font-size:26px;
}	
.disc p{
	color: red;
	font-size:20px; 
}
.disc ul{
	padding-top:20px;
	font-family: Arial;
	line-height: 1.2em;
	padding-left:20px;
}